<div>
    <h1 class="text-info">Inquiry Confirmation</h1>
    <p>
        We have received our inquiry and our team will contact you shortly!!
    </p>
    <img width="80%" src="/img/productImg/9186cf8b-76cb-423e-b129-f59c3e1ba94c.jpg"/>
</div>